/* =========================
   ROOT VARIABLES
========================= */

:root {
    --color-bg: #0f0f0f;

    --color-text-primary: #cccccc;
    --color-text-secondary: #9e9e9e;

    --color-button: #cccccc;
    --color-button-hover: #b3b3b3;

    --color-participant-bg: #1a1a1a;
    --color-participant-border: #2a2a2a;

    --radius-large: 10px;
    --radius-circle: 10px;

    --transition-fast: 0.2s ease;
}


/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   BASE
========================= */

body {
    background: var(--color-bg);
    font-family: 'Handjet', sans-serif;
    color: var(--color-text-primary);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}


/* =========================
   BACKGROUND CANVAS
========================= */

#background {
    position: fixed;
    inset: 0;
    z-index: 0;
}

/* =========================
   INTRO SCREEN
========================= */

.intro {
    position: fixed;
    inset: 0;
    background: transparent;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: opacity 1.2s ease;
}


.intro-content {
    text-align: center;
}

.intro-title {
    font-size: 55px;
    margin-bottom: 30px;
}

.intro-input {
    background: transparent;
    border: none;
    outline: none;

    color: var(--color-text-primary);
    font-family: inherit;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    width: 300px;

    caret-color: var(--color-text-primary);
}

.intro.fade-out {
    opacity: 0;
    pointer-events: none;
}

.hidden-start {
    opacity: 0;
    transition: opacity 6s ease;
}

.hidden {
    display: none;
}

.create-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.app.visible {
    opacity: 1;
}

.intro-error {
    margin-top: 15px;
    font-size: 50px;
    opacity: 0;
    transform: translateY(5px) translateX(5px);
    transition: 0.3s ease;
    rotate: 45deg;
}

.intro-error.visible {
    opacity: 1;
    transform: translateY(0);
}


/* =========================
   LAYOUT
========================= */

.app {
    position: relative;
    z-index: 1;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* =========================
   LOGO
========================= */

.logo {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logo-img {
    width: 240px;
    height: auto;
    display: block;
}

.logo span {
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 5px;
    transform: translateX(-10px);
    color: var(--color-text-secondary);
}


/* =========================
   PARTICIPANTS
========================= */

.participants {
    height: 120px;
    margin-top: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.participant {
    width: 80px;
    height: 80px;

    border-radius: 15px;
    background: var(--color-button);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transform: scale(0.8);
}

.participant.pop-in {
    animation: pop-in 0.25s ease forwards;
}

.participant.pop-out {
    animation: pop-out 0.2s ease forwards;
}

@keyframes pop-in {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pop-out {
    to {
        opacity: 0;
        transform: scale(0.7);
    }
}

/* =========================
   BUTTON
========================= */

.join-btn {
    width: 320px;
    padding: 15px 40px;
    border-radius: var(--radius-large);
    border: none;

    font-size: 22px;
    font-weight: 600;
    font-family: inherit;

    background: var(--color-button);
    color: #111;

    cursor: pointer;
    transition: var(--transition-fast);
}

.join-btn:hover {
    background: var(--color-button-hover);
}

.action-area {
    margin-top: auto;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* =========================
   CONTROLS
========================= */

.controls {
    width: 320px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#createBtn {
    width: 320px;
}

.control-btn {
    width: 160px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--radius-circle);
    border: none;

    background: var(--color-button);
    cursor: pointer;
    transition: var(--transition-fast);
}

.control-btn:hover {
    background: var(--color-button-hover);
}

.control-btn img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    pointer-events: none;
}

.control-btn.off {
    background: #888;
}

.control-btn.off img {
    filter: brightness(0.7);
}

#soundIcon {
    transform: scale(1.12)
}

#soundBtn.off img {
    transform: scale(1.05) translateX(2px);
}

#micBtn.off img {
    transform: scale(1);
}

/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

    .logo {
        margin-top: 120px;
    }

    .logo-img {
        width: 250px;
    }

    .participants {
        margin-top: 370px;
        height: 90px;
    }

    .participant {
        width: 60px;
        height: 60px;
    }

    .participant img {
        max-width: 55%;
    }

    .action-area {
        margin-top: 100px;
        margin-bottom: 40px;
        gap: 10px;
    }

    .join-btn {
        max-width: 220px;
        font-size: 18px;
        padding: 14px 20px;
    }

    .control-btn {
        max-width: 103px;
        height: 48px;
    }
}

/* =========================
   HIDDEN RULE
========================= */

.hidden {
    display: none !important;
}